<!DOCTYPE html>
<html lang="en">

 <header>
    <h1>
      <a href="/">Just Tech News</a>
    </h1>
    <nav>
      <a href="/login">login</a>
    </nav>
  </header>
<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Just Tech News</a>
      </h1>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

</body>

</html>